<h1> Edit Blog Post</h1>
<br>

<%= render partial: "form", locals: {blog_post: @blog_post} %>
<br>
<%= button_to "Delete Post", blog_post_path, method: :delete, class: "delete-button", onclick: "return confirm('Are you sure?');", class:"btn btn-danger" %>
<br>
<%= button_to "Back", root_path, method: :get, class:"btn btn-primary"%>



